.intro {
  opacity: 0;
  background: black;
  background-image: url("./images/main_bg.png");
  background-size: contain;
  background-position: right;
  background-position-x: 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: aliceblue;
}

.intro.fade-in {
  opacity: 1;
  transition: 1s;
}

.intro__innerDiv {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.intro__text {
  position: fixed;
  z-index: 1;
  width: 60%;
  padding: 32vh 7vw;
}

.intro__iam {
  font-size: 1.9rem;
}

.intro__name {
  font-size: 4rem;
}

.intro__info {
  font-size: 1.3rem;
  font-weight: 300;
}

.intro__github {
  color: #3085a3;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 1px solid rgb(233, 233, 233);
  font-weight: 400;
  width: fit-content;
  padding: 0.4rem 1.8rem;
  margin-top: 1.6rem;
  border-radius: 30px;
}

.intro__github:hover {
  background: rgb(233, 233, 233);
  transition: 0.6s;
}

.intro__github>* {
  margin-right: 0.4rem;
}

@media screen and (max-width: 599px) {
  .intro__innerDiv {
    padding: 25% 7vw;
  }

  .intro__text {
    width: 70%;
    padding: 0;
  }

  .intro__iam {
    font-size: 1.8rem;
  }

  .intro__name {
    font-size: 3rem;
  }

  .intro__info {
    font-size: 1.2rem;
    margin-top: 1.6rem;
  }
}